body,html
{
    padding: 0;
    margin: 0;
    width: 100% !important;
    height: 100% ;
    
    
}
.container
{
    min-width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding:0 !important;
}
.row1,
.row2
{
    display: flex !important;
    flex-direction: column !important;
    padding: 0 !important;
    margin: 0 !important;
}
.row1{
    height: 200% !important;
}
.row2
{
    height: 150% !important ;
}
.rowone,
.klasa1,
.nawigacja
{
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    position: fixed !important;
    z-index: 4 !important;
   
    flex-wrap: wrap !important;

}

.naglowek
{
    flex-wrap: wrap !important;
    font-size:28px !important;
    font-weight: 700 !important;
    font-family: 'Dancing Script', cursive;
    margin-right: 0 !important;
    
}

.nawigacja
{
    flex-direction: column !important;
    box-shadow: 1px 1px 5px gray;
    background: white !important;
    
    

}


.nav-link
{
    position: relative !important;
   text-align: center !important;
   margin-right: 200px  !important;
   left:50% !important;
   transform: translate(-50%) !important;
   color:black !important;
   font-family:'Dancing Script', cursive; 
   
}
.navbar-toggler
{
    border:none !important;
}

.slajder


{
    
    width: 100% !important;
    top:30% !important;
    height: 100% !important;
    left:0 !important;
    position: absolute !important;
    display: flex !important;
    object-fit: contain !important;
    background-origin: padding-box !important;

    
}
.klasa2
{
    width: 100% !important;
    top:30% !important;
    height: 100% !important;
    left:0 !important;
    position: absolute !important;
    display: flex !important;
    float:  left !important;
}

.aktywuj,
.ob1
{
    width: 100% !important;
    height:50% !important ;
    position: absolute!important;
    background-size: contain!important;
 
    padding: 0 !important;
    z-index: 3 !important;
    left:0% !important;
    background-origin: padding-box !important;
}

